body {
	width: 100%;
	height: 100%;
	background-color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Layout Classes */
.page-grid {}
.page-grid-item {}
.tnav-flex {}
.tnav-flex-item {}
.link-flex {}
.link-flex-item {}
.foot-flex {}
.foot-flex-item {}

/* Style Classes */
.tnav {}
.tnav-head {}
.tnav-list {}
.tnav-li {}
.tnav-link {}
.tnav-link-text {}
.tnav-link-icon {}
.snav {}
.snav-link {}
.cont {}
.foot {}
.foot-list {}
.foot-list-item {}
.foot-link {}
.foot-link-icon {}
.foot-link-text {}

/* Desktop Layout */
.page-grid {
		display: grid;
		grid-template-columns: 200px 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: "tnav tnav"
							 "snav cont"
							 "foot foot";
	}
.page-grid-item.tnav {grid-area:  tnav;}
.page-grid-item.snav {grid-area:  snav;
	 									  margin-top: 41px;}
.page-grid-item.cont {grid-area:  cont;}
.page-grid-item.foot {grid-area:  foot;}
.tnav-flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.link-flex {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
}
.foot-flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
/* End of Layout CSS */

/* Desktop Styling */
/* Top Navigation Bar */
.tnav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background: linear-gradient(0deg, #444, #666);
}
.tnav-head {
	font-family: Orbitron, Monospace;
	color: hsl(135, 100%, 45%);
	padding: 5px;
}
.tnav > ul {
	height: 40px;
	list-style-type: none;
}
.tnav li {
	display: inline-block;
}
.tnav-link {
	z-index: 0;
	display: block;
	text-decoration: none;
	box-shadow: 0 0 4px 2px inset black;
	display: flex;
	align-items: flex-start;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.tnav-link:hover, .foot-link:hover {
	background: linear-gradient(0deg, #555, #777);
}
.tnav-link-icon {
	z-index: 1;
	background: linear-gradient(0deg, #444, #666);
	min-width: 40px;
	height: 40px;
	text-align: center;
	padding-top: 10px;
	display: inline-block
	background-color: #666;
	box-shadow: 0 0 4px 2px inset hsl(45, 100%, 75%);
	border-radius: 50%;
}
.tnav-link-text {
	border-right: 1px solid hsl(125, 100%, 45%);
	display: inline-block;
	padding: 10px 10px 10px 5px;
	margin-right: 2px;
	font-family: Orbitron, Monospace;
	position: relative;
	color: white;
}
.tnav-link-text::after {
	content: "";
	font-size: 18px;
	position: absolute;
	left: 0;
	color: hsl(125, 100%, 95%);
}
#ardLink .tnav-link-icon {color: hsl(200, 100%, 70%);}
#piLink .tnav-link-icon {color: hsl(320, 100%, 70%);}
#nixLink .tnav-link-icon {color: hsl(45, 100%, 50%);}
.spacer {
	width: 15px;
	height: 100%;
	box-shadow: 0 0 2px 1px inset #ABC;
	display: inline-block;
}
/* Side Navigation Bar */
.snav {
	background-color: blue;
}
/* Content */
.cont {
	background-color: pink;
}
/* Footer */
.foot {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: linear-gradient(0deg, #444, #666);
}
.foot-list {
	list-style-type: none;
}
.foot-list-item {
	height: 100%;
	display: inline-block;
}
.foot-link {
	height: 100%;
	display: block;
	text-decoration: none;
	padding: 5px;
	color: hsl(45, 45%, 45%);
}
.foot-link-icon {
	display: none;
}
.foot-link-text {
	display: inline-block;
}



/* Tablet Layout & Styling */
@media screen and (max-width: 760px) {
	.page-grid {
		display: grid;
		grid-template-columns: 100px 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas: "tnav tnav"
							 "snav cont"
							 "foot foot";
	}
}
/* Phone Layout & Styling */
@media screen and (max-width: 480px) {
	.page-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas: "snav snav"
							 "cont cont"
							 "tnav foot";
	}
	.page-grid-item.snav {margin-top: 0px;}
	.tnav-flex {
		justify-content: flex-start;
	}
	.link-flex {
		width: 100%;
		justify-content: space-evenly;
	}

	.tnav {
		position: static;
		width: 1fr;
	}
	.tnav-head {
		display: none;
	}
	.spacer {
		display: none;
	}
	.tnav-link-text {
		display: none;
	}
	.tnav-link-icon {
		border-radius: 0%;
	}
	.foot {
		position: static;
		width: 1fr;
	}
	.foot-link-text {
		display: none;
	}
	.foot-link-icon {
		display: inline-block;
	}
}
