:root {
	--navBackgroundImg: url("https://www.publicdomainpictures.net/pictures/200000/velka/circuit-board-1477415362NkY.jpg");
}
html {
	height: 100%;
}
body {
	min-width: 100%;
	min-height: 100%;
	background-color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Layout Classes */
.page-grid {}
.page-grid-item {}
.tnav-flex {}
.tnav-flex-item {}
.snav-flex {}
.snav-flex-item {}
.cont-grid {}
.cont-grid-item {}
.foot-flex {}
.foot-flex-item {}

/* Style Classes */
.tnav {}
.tnav-head {}
.tnav-tablet-head {}
.tnav-desktop-head {}
.tnav-link {}
.tnav-link-text {}
.tnav-link-icon {}
.snav {}
.snav-link {}
.snav-link-icon {}
.snav-link-text {}
.cont {}
.foot {}
.foot-link {}
.foot-link-icon {}
.foot-link-text {}

/* ID Selectors */
#ardLink {}
#piLink {}
#nixLink {}
#aboutLink {}
#contactLink {}
#githubLink {}

/* Desktop Layout */
.page-grid {
	/* fill the viewport with the page grid */
	min-height: 100vh;
	min-width: 100vw;
	display: grid;
	grid-template-columns: 210px 1fr;
	grid-template-rows: 220px 1fr 40px;
	grid-template-areas: "tnav cont"
						 "snav cont"
						 "foot foot";
}
.page-grid-item.tnav {grid-area:  tnav;}
.page-grid-item.snav {grid-area:  snav;}
.page-grid-item.cont {grid-area:  cont;}
.page-grid-item.foot {grid-area:  foot;}
.tnav-flex {
	margin: 5px;
	display: flex;
	flex-flow: column nowrap;
}
.tnav-flex-item {
	margin: 5px 0;
}
.snav-flex {
	margin: 10px 5px 10px 0;
	display: flex;
	flex-flow: column nowrap;
}
.snav-flex-item {
	margin: 5px 0;
}
.cont-grid {
	width: 100%;
	padding: 25px;
}
.foot-flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
/* End of Layout CSS */

/* Desktop Styling */
/* Top Navigation Bar */
.tnav {
	background-color: transparent;
}
.tnav::before {
	content: "";
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: var(--navBackgroundImg);
	filter: blur(2px);
}
.tnav-head {
	display: inline-block;
	padding: 5px 0;
	text-align: center;
	font-family: Orbitron, Monospace;
	font-size: 16px;
	color: hsl(135, 100%, 45%);
	background: radial-gradient(#555, #111);
	border-radius: 4px;
	box-shadow: 0 0 4px 2px inset #ABC;
	width: 200px;
}
.tnav-desktop-head {
	display: inline-block;
}
.tnav-tablet-head {
	display: none;
}
.tnav > ul {
	list-style-type: none;
}
.tnav-link {
	display: block;
	text-decoration: none;
	position: relative;
}
.tnav-link:hover .tnav-link-text {
	background: linear-gradient(0deg, #555, #777);
}
.tnav-link-icon {
	display: inline-block;
	z-index: 1;
	position: relative;
	width: 42px;
	height: 42px;
	text-align: center;
	padding-top: 12px;

	background: radial-gradient(#DEF, #456);
	box-shadow: 0 0 4px 2px inset #123;
	border-radius: 50%;
}
.tnav-link-text {
	display: inline-block;
	z-index: 0;
	position: absolute;
	left: 2px;
	padding: 10px 10px 10px 52px;

	font-family: Orbitron, Monospace;
	box-shadow: 0 0 4px 2px inset #ABC;
	border-radius: 20px;
	background: linear-gradient(0deg, #555, #777, #555);
	width: 198px;
	height: 40px;
}
.tnav-link-text::after {
	/* Experimenting with text outlines */
	content: "";
	font-size: 18px;
	position: absolute;
	left: 0;
	color: hsl(125, 100%, 95%);
}
#ardLink .tnav-link-icon {color: hsl(200, 100%, 45%);}
#piLink .tnav-link-icon {color: hsl(320, 100%, 40%);}
#nixLink .tnav-link-icon {color: hsl(35, 75%, 40%);}
#ardLink .tnav-link-text {color: hsl(200, 100%, 70%);}
#piLink .tnav-link-text {color: hsl(320, 100%, 70%);}
#nixLink .tnav-link-text {color: hsl(35, 75%, 65%);}
/* Side Navigation Bar */
.snav {
	z-index: 0;
	position: relative;
}
.snav::before {
	z-index: -1;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: var(--navBackgroundImg);
	filter: blur(2px);
}
.snav > ul {
	list-style-type: none;
}
.snav-link {
	display: block;
	text-decoration: none;
	box-shadow: 0 0 4px 2px inset #ABC;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	background: linear-gradient(0deg, #555, #777, #555);
}
.snav-flex-item:nth-child(n+1) {
	border-left: 5px solid hsl(5, 100%, 40%);
}
.snav-flex-item:nth-child(n+2) {
	border-left: 5px solid hsl(45, 100%, 40%);
}
.snav-flex-item:nth-child(n+3) {
	border-left: 5px solid hsl(85, 100%, 40%);
}
.snav-flex-item:nth-child(n+4) {
	border-left: 5px solid hsl(125, 100%, 40%);
}
.snav-flex-item:nth-child(n+5) {
	border-left: 5px solid hsl(165, 100%, 40%);
}
.snav-link-icon {
	display: none;
	padding: 10px 10px 10px 5px;
	margin-right: 2px;
	font-family: Orbitron, Monospace;
	position: relative;
	color: white;
}
.snav-link-text {
	display: inline-block;
	padding: 10px 10px 10px 5px;
	margin-right: 2px;
	font-family: Orbitron, Monospace;
	position: relative;
	color: white;
}
/* Content */
.cont {
	background-color: #EEE;
}
/* Footer */
.foot {
	background: linear-gradient(0deg, #444, #666);
}
.foot > ul {
	list-style-type: none;
}
.foot li {
	display: inline-block;
}
.foot-link {
	display: block;
	text-decoration: none;
	//color: hsl(45, 45%, 45%);
}
.foot-link-icon {
	display: none;
}
#aboutLink .foot-link-icon {color: hsl(240, 100%, 45%);}
#contactLink .foot-link-icon {color: hsl(45, 100%, 45%);}
#githubLink .foot-link-icon {color: hsl(45, 75%, 10%);}
.foot-link-text {
	display: inline-block;
}

@keyframes slidein {
	from {width: 52px; opacity: 0.5}
	to {width: 198px, opacity: 0.9;}
}

/* Tablet Layout & Styling */
@media screen and (max-width: 760px) {
	.page-grid {
		display: grid;
		grid-template-columns: 52px 1fr;
		grid-template-rows: 220px 1fr 40px;
		grid-template-areas: "tnav cont"
							 "snav cont"
							 "foot foot";
	}
	.tnav-flex {
		margin: 5px;
	}


	.tnav-head {
		font-size: 12px;
		width: 42px;
		height: 42px;
		padding: 10px 5px;
	}
	.tnav-desktop-head {
		display: none;
	}
	.tnav-tablet-head {
		display: block;
	}

	.tnav-link-text {
		display: none;
		overflow: hidden;
		white-space: nowrap;
	}
	.snav-link {
		text-align: center;
	}
	.snav-link-icon {
		display: inline-block;
	}
	.snav-link-text {
		display: none;
	}
	.tnav-link:hover .tnav-link-text {
		display: inline-block;
		animation: slidein 0.3s linear 0s 1 forwards;
	}
}
/* Phone Layout & Styling */
@media screen and (max-width: 480px) {
	.page-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 62px 1fr 62px;
		grid-template-areas: "snav snav"
							 "cont cont"
							 "tnav foot";
	}
	.page-grid-item.snav {margin-top: 0px;}
	.tnav-flex {
		margin: 5px;
		flex-flow: row nowrap;
		justify-content: space-around;
	}
	.tnav-flex-item {
		margin: 5px 0;
	}
	.tnav-flex-item:nth-child(1) {
		display: none;
	}
	.snav-flex {
		flex-flow: row nowrap;
		justify-content: space-around;
	}
	.snav-flex-item {
		margin: 0 5px;
	}
	.snav-flex-item:nth-child(n) {
		border: none;
	}
	.foot-flex {
		margin: 5px;
		flex-flow: row nowrap;
		justify-content: space-around;
	}
	.foot-flex-item {
		margin: 5px 0;
	}



	.tnav {
		position: static;
		width: 1fr;
	}
	.tnav-head {
		display: none;
	}

	.tnav-link-text {
		display: none;
	}
	.tnav-link-icon {
		border-radius: 0%;
	}
	#ardLink:hover #ardText {display: none;}
	#piLink:hover #piText {display: none;}
	#nixLink:hover #nixText{display: none;}

	.snav-link {
		height: 42px;
		width: 42px;

		box-shadow: 0 0 4px 2px inset #ABC;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		background: linear-gradient(0deg, #555, #777, #555);
	}

	.foot {
		position: relative;
		width: 1fr;
		background: transparent;
	}
	.foot::before {
		content: "";
		z-index: -1;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: var(--navBackgroundImg);
		filter: blur(2px);
	}
	.foot-link-text {
		display: none;
	}
	.foot-link-icon {
		display: inline-block;
		z-index: 1;
		position: relative;
		width: 42px;
		height: 42px;
		text-align: center;
		padding-top: 12px;

		background: radial-gradient(#DEF, #456);
		box-shadow: 0 0 4px 2px inset #123;
	}
}
