* {
  box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
  font-family: Arial, Monospace;
  background-color: #000;
  width: 100%;
}

.flex-container-1{
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  background-color: #111;
}

/* site intro banner */
.title-banner header h1 a{
	background-color: #111;
  color: white;
	padding: 40px 0 40px 0;
  width: 100%;
  text-decoration: none;
}

/* subject selection menu */
.subject-nav{
	background-color: rgb(100,100,100);
	border-bottom: 3px solid silver;
  width: 100%;
}

.subject-nav ul, li {
  list-style-type: none;
  display: inline-block;
}

.flex-container-2 {
  display: flex;
  flex-flow: row wrap;
}

/* content selection side bar */
.content-nav{
	background-color: #ddd;
  border-right: 2px solid silver;

  flex: 1;
}

/* Style the buttons inside the content-nav */
.content-nav button {
	display: block;
  background-color: #ddd;
  padding: 14px 16px;
  width: 100%;
  border: 0;
  outline: 0;
}

.content-nav button:hover {
    background-color: #999;
    transition: 0.3s;
}

.flex-container-content{
  display: flex;
  flex-flow: column nowrap;
}

/* content */
.content{
	background-color: #EEE;
	padding: 25px 20px 25px 20px;

  flex: 2;
}

.content h2{
	color: black;
}

.content p{
	color: #eee;
	padding-left: 10px;
}

.flex-container-3{
  display: flex;
  flex-flow column nowrap;
}

/* footer */
.footer{
	background-color: #333;
	text-align: center;
	border-top: 3px solid silver;
}
