:root {
  --primary-color: #666;
  /* to use, var(--primary-color, black)*/
}

#contentContainer {
  background: linear-gradient(90deg, #123, #111, #123);
}

header h1 {
  font-family: 'Orbitron', Monospace;
}

nav {
  background: linear-gradient(90deg, #111, #666, #111);
}


article{
  padding: 20px;
}

footer {
  background: linear-gradient(90deg, #111, #666, #111);
}

nav a:hover{
  background-color: #999;
  transition: 0.5s;
}

aside a:hover{
  background-color: #999;
  transition: 0.3s;
}

footer a:hover{
  background-color: #999;
  transition: 0.5s;
}

.hide {
  display: none;
}

@media screen and (max-width: 400px) {
  #side-nav a{text-align: center}
  #top-nav a{display: block;}
}
