/* TODO: learn how to include header/nav/aside/footer 
for each page so i can edit that separately from the content */

:root {
  --primary-color: #666;
  /* to use: var(--primary-color, black)*/
}

.noShadow {
  box-shadow: none !important;
}


/* ID STYLING */
#headerLink {
  font-family: 'Orbitron', Monospace;
  margin: 25px 0 25px 0;
  text-decoration: none;
  color: white;
  display: block;
}

#contentContainer {
  background: linear-gradient(90deg, #123, #111, #123);
}

/* SECTION STYLING */
nav {
  background: linear-gradient(90deg, #111, #666, #111);
  /* animate a gradient flash when loading a page */
  animation-name: navBar;
  animation-duration: 500ms;
}

nav a {
  display: inline-block;
  padding: 16px;
  margin: 0;
  color: white;
  text-decoration: none;
}

article button {
  background-color: #ABC;
}

footer {
  background: linear-gradient(90deg, #111, #666, #111);
}

footer a {
  display: inline-block;
  padding: 16px;
  color: white;
  text-decoration: none;
}


/* HOVER STATES */
nav a:hover {
  color: white;
  text-decoration: none;
  background-color: #999;
  transition: 0.5s;

  animation-name: bump;
  animation-duration: 500ms;
}

aside a:hover {
  background-color: #BCE !important;
  transition: 0.3s;

  animation-name: bump;
  animation-duration: 500ms;
}

footer a:hover {
  color: white;
  text-decoration: none;
  background-color: #999;
  transition: 0.5s;

  animation-name: bump;
  animation-duration: 500ms;
}

/* SIZING */
@media screen and (max-width: 400px) {
  aside a{text-align: center;}
  nav a{display: block;}
  footer a{display: block;}
}

/* ANIMATIONS */
@keyframes bump {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes navBar {
  0% {
    background: linear-gradient(90deg, #222, #777, #222);
  }
  10% {
    background: linear-gradient(90deg, #333, #888, #333);
  }
  20% {
    background: linear-gradient(90deg, #444, #999, #444);
  }
  30% {
    background: linear-gradient(90deg, #555, #AAA, #555);
  }
  40% {
    background: linear-gradient(90deg, #666, #AAA, #666);
  }
  50% {
    background: linear-gradient(90deg, #777, #AAA, #777);
  }
  60% {
    background: linear-gradient(90deg, #666, #AAA, #666);
  }
  70% {
    background: linear-gradient(90deg, #555, #AAA, #555);
  }
  80% {
    background: linear-gradient(90deg, #444, #999, #444);
  }
  90% {
    background: linear-gradient(90deg, #333, #888, #333);
  }
  100% {
    background: linear-gradient(90deg, #222, #777, #222);
  }
}
